.popular {
    &__container {
        padding-top: 64px;
        grid-template-columns: 250px;
        justify-content: center;
        row-gap: 88px;
    }

    &__card {
        position: relative;
        background-color: var(--container-color);
        padding: 112px 32px 24px;
        box-shadow: 0 8px 20px hsla(19, 64%, 48%, .08);
        border-radius: 16px;
        text-align: center;

        &:hover .popular__img {
            transform: translateY(-4px);
        }
    }

    &__img {
        width: 220px;
        position: absolute;
        inset: 0;
        top: -40px;
        margin: 0 auto;
        transition: transform .4s;
    }

    &__name {
        font-size: var(--h3-font-size);
        font-family: var(--title-font);
        margin-bottom: 4px;
    }

    &__description {
        display: block;
        font-size: var(--smaller-font-size);
        margin-bottom: 16px;
    }

    &__price {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        color: var(--first-color);
    }

    &__button {
        display: flex;
        background-color: var(--first-color);
        padding: 6px;
        border-radius: 999px;
        border: none;
        outline: none;
        color: #fff;
        font-size: 2rem;
        box-shadow: 0 4px 20px hsla(19, 64%, 20%, .2);
        cursor: pointer;
        position: absolute;
        right: 20px;
        bottom: 20px;
        transition: background .3s;

        &:hover {
            background-color: var(--first-color-alt);
        }
    }
}