::-webkit-scrollbar {
    width: 10px;
    border-radius: 8px;
    background-color: hsl(19, 8%, 75%);

    &-thumb {
        border-radius: 8px;
        background-color: hsl(19, 8%, 65%);

        &:hover {
            background-color: hsl(19, 8%, 55%);
        }
    }
}


.scrollup {
    position: fixed;
    right: 16px;
    bottom: -50%;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(19, 64%, 24%, .1);
    display: inline-block;
    padding: 6px;
    border-radius: 4px;
    font-size: 1.8rem;
    color: var(--first-color);
    z-index: var(--z-tooltip);
    transition: bottom .3s, transform .3s, background .4s;

    &:hover {
        transform: translateY(-4px);
    }
}

.show-scroll {
    bottom: 48px;
}